/* @import './base.css'; */

@import 'primeicons/primeicons.css';
@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

#app {
  margin: 0 auto;
  font-weight: normal;
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

:root {
  --p-navigation-item-focus-background: transparent !important;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 2rem;
  min-height: 76vh;
}
